body{
  background-color: #827360;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  background-image: url("images/castleInterior1.png");
  animation-name: backgroundFlash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  width: 70%;
  margin:auto;
}
section{
  padding:2%;
  text-align: justify;
  background-color: #C7A882;
  border-radius: 10px;
  border-color: #805C36;
  border-style: double;
  border-width: thick;
  box-sizing:border-box;

}

@keyframes backgroundFlash {
  0% {background-image: url("images/castleInterior1.png");}
  16.67% {background-image: url("images/castleInterior2.png");}
  33.34% {background-image: url("images/castleInterior3.png");}
  50.01% {background-image: url("images/castleInterior4.png");}
  66.68% {background-image: url("images/castleInterior5.png");}
  83.35% {background-image: url("images/castleInterior6.png");}
  100% {background-image: url("images/castleInterior1.png");}
}
